.ingredients {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ingredients__content {
    overflow-y: auto;
    height: 716px;
}

.ingredients__nav_list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.ingredients__nav_item {
    flex: 1 1 auto;
    color: var(--text-inactive-color);
    text-align: center;
    border-bottom: 1px solid var(--background-element);
    transition: var(--common-transition);
    cursor: pointer;
}

.ingredients__content_list{
    display: flex;
    flex-direction: column;
}



.active {
    border-width: 2px;
    border-color: var(--colors-interface-accent);
    color: var(--text-primary-color);
}


