/*.ingredients {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    height: 100%;*/
/*}*/

/*.ingredients__content {*/
/*    overflow-y: auto;*/
/*    height: 716px;*/
/*}*/

/*.ingredients__nav_list {*/
/*    display: flex;*/
/*}*/

/*.ingredients__nav_item {*/
/*    flex: 1 1 auto;*/
/*    color: var(--text-inactive-color);*/
/*    text-align: center;*/
/*    border-bottom: 1px solid var(--background-element);*/
/*    transition: var(--common-transition);*/
/*    cursor: pointer;*/
/*}*/

/*!*.ingredients__nav_item:hover {*!*/
/*!*    color: var(--text-primary-color);*!*/
/*!*}*!*/

/*.active {*/
/*    border-width: 2px;*/
/*    border-color: var(--colors-interface-accent);*/
/*    color: var(--text-primary-color);*/
/*}*/

/*.ingredients__content_cards {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.ingredients__card {*/
/*    position: relative;*/
/*    width: calc(50% - var(--offset-base-size) * 3);*/
/*}*/

/*.ingredients__card:not(:last-of-type) {*/
/*    margin-right: calc(var(--offset-base-size)  * 6);*/
/*}*/

/*.ingredients__card_image {*/
/*    display: block;*/
/*    width: 240px;*/
/*    height: 120px;*/
/*    object-fit: cover;*/
/*}*/

/*.ingredients__card_count {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    width: 32px;*/
/*    height: 32px;*/
/*    border-radius: 50%;*/
/*    background-color: var(--colors-interface-accent);*/
/*}*/

/*.ingredients__card_price {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.ingredients__card_name {*/
/*    text-align: center;*/
/*}*/

.ingredients {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ingredients__content {
    overflow-y: auto;
    height: 716px;
}

.ingredients__nav_list {
    display: flex;
}

.ingredients__nav_item {
    flex: 1 1 auto;
    color: var(--text-inactive-color);
    text-align: center;
    border-bottom: 1px solid var(--background-element);
    transition: var(--common-transition);
    cursor: pointer;
}

/*.ingredients__nav_item:hover {*/
/*    color: var(--text-primary-color);*/
/*}*/

.active {
    border-width: 2px;
    border-color: var(--colors-interface-accent);
    color: var(--text-primary-color);
}

.ingredients__content_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ingredients__card {
    position: relative;
    width: calc(50% - var(--offset-base-size) * 3);
}

.ingredients__card_image {
    display: block;
    width: 240px;
    height: 120px;
    object-fit: cover;
}

.ingredients__card_count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--colors-interface-accent);
}

.ingredients__card_price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ingredients__card_name {
    text-align: center;
}