.main{
    margin-top: 200px;
    display: flex;
}

.menu{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    height: 64px;
    display: flex;
    align-items: center;
}
.description{
    font-size: 16px;
    line-height: 24px;
    margin-top: 80px;
    color: #8585AD;
    opacity: 0.4;
}



.left{
    width: 320px;
}

.right{
    margin-left: 60px;
    width: 480px;
}

.container {
    composes: container from "../components/App/App.module.css";
}

.content {
    composes: content from "../components/App/App.module.css";
    flex-direction: column;
    align-items: center;
}