
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal {
    position: fixed;
    top:10%;
    left: 33%;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    background-color: #1C1C21;
    }

.header{
    height: 64px;
    display: flex;
    font-weight: bold;
}

.close{
    display: flex;
    align-items: center;
    width: 60px;
    justify-content: flex-end;
}

.title{
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    width: 580px;
    justify-content: flex-start;
}

.ingredient{
    display: flex;
    align-items: center;
    flex-direction: column;
}