header.top-header .wrapper{
    display: flex;
    align-items: center;
    height: 88px;
    top: 40px;
    justify-content: space-around;
}

header.top-header nav.nav-left ul,
header.top-header nav.nav-right ul{
    color: #8585AD;
    display: flex;
}


header.top-header .wrapper nav.nav-left ul li a,
header.top-header .wrapper nav.nav-right ul li a{
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;

}

header.top-header .wrapper nav.nav-left ul li a.active,
header.top-header .wrapper nav.nav-right ul li a.active{
    color: #F2F2F3;
}

header.top-header .wrapper nav.nav-left ul li a:hover,
header.top-header .wrapper nav.nav-right ul li a:hover{
    color: #F2F2F3;
}