.header {
    max-height: 88px;
    background-color: var(--background);
    overflow: hidden;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: calc(var(--offset-base-size) * -5);
    margin-right: calc(var(--offset-base-size) * -5);
}

.header__nav-list {
    display: flex;
    color: #8585AD;
}

.header__nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: currentColor;
    fill: currentColor;
}

.header__nav-link.active,
.header__nav-link.active:hover {
    color: #F2F2F3;
    fill: currentColor;
}