

.wrapper{
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
}

header.top_header .wrapper{
    display: flex;
    align-items: center;
    height: 88px;
    top: 40px;
    justify-content: space-around;
}

header.top_header .wrapper nav.nav-left ul{
    display: flex;
    color: #8585AD;
}
header.top_header .wrapper nav.nav-left ul li{

}
header.top_header .wrapper nav.nav-left ul li a{
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;

}

header.top_header .wrapper nav.nav-left ul li a.active{
    color: #F2F2F3;
}

header.top_header .wrapper nav.nav-left ul li a:hover{
    color: #F2F2F3;
}