.constructor {
    height: 100%;
}

.constructor__list {
    height: 464px;
    overflow-y: auto;
}

.background{
    background: #1C1C21;
}

.constructor__item +
.constructor__item {
    margin-top: calc(var(--offset-base-size) * 4);
}


.constructor__item .constructor-element {
    width: 100%;
}

.constructor__drag {
    cursor: grab;
}

.constructor__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.constructor__price {
    display: flex;
    align-items: center;
}

.constructor__price svg {
    width: 33px;
    height: 33px;
}