.ingredients__content_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.first{
    order: 0;
}

.ingredients__card {
    position: relative;
    width: calc(50% - var(--offset-base-size) * 3);
}

.last{
    order: 2;
}